.gb-tag-phanloai{
  padding: 30px 0;
  h2{
    line-height: 1.2;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    color: $color-main;
  }
  ul{
    li{
      display:  inline-block;
      a{
        display: block;
        padding: 10px 15px;
        margin-right: 5px;
        background: $color-main;
        color: #fff;
        border: 1px solid $color-main;
        font-size: 14px;
        border-radius: 15px;
        margin-bottom: 5px;
        transition:  all 0.5s;
        &:hover{
          color: $color-main;
          background: transparent;
        }
      }
    }
  }
}