.gb-home-product-sanphamyeuthich_banhatgiong{
  .gb-home-product-sanphamyeuthich_banhatgiong-title{
    margin-bottom: 30px;
    .header_product_banhatgiong{
      display: inline-block;
      font-size: 1.4em;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      background: #d30050;
      padding: 8px 21px;
    }
  }
}