.add_cart_banhatgiong{
  font-size: 20px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  text-align: center;
  background-color: #d30050;
  float: left;
  cursor: pointer;
}