.list_pro_sale {
  width: 100%;
  padding: 2px 5px; }

.item_pro_sale {
  width: 49%;
  margin-right: 2%;
  background-color: #fff;
  padding: 0 25px;
  border: 1px solid #f5f5f5;
  position: relative;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.item_pro_sale:hover {
  border: 1px solid #fd0b11;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.item_pro_sale:hover .box_info_pro_sale a {
  color: #fd0b11; }

.item_pro_sale:last-child {
  margin-right: 0; }

.sale {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  background-color: #fd0b11;
  color: #fff;
  font-size: 1.15em;
  font-weight: 600; }

.box_image_pro_sale {
  width: 100%;
  float: left; }

.box_info_pro_sale a {
  width: 100%;
  font-size: 1.4em;
  color: #666;
  padding: 8px 0; }

.linkSaleLeft, .linkSaleLeft img {
  float: left;
  width: 100%;
  margin-top: 15px; }
