.gb-nhanxet{
  .gb-nhanxet-title{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: $color-main;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
}