.uni-info-contact{
  ul{
    li{
      display: flow-root;
      margin-bottom: 15px;
      .icons{
        float:  left;
        width: 40px;
        height: 40px;
        border: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: FontAwesome;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: $color-white;
        margin-right: 10px;
      }
      p{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: $color-white;
        padding-left: 60px;
      };
    }
  }
}